.mini-nav {
	border-bottom: #667788 1px solid;
	margin: 5px auto;
}

#home-section {
	position: relative;
	background: url("../img/rectangle-3.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	min-height: 600px;
}

#home-section .dark-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 600px;
	background-color: rgba(0, 0, 0, 0.7);
}

#checkin {
	margin-top: -90px;
}
